---
import Base from "@layouts/Base.astro";
import Flag from "@components/Flag.astro";

import BLOCK_ONE from "@data/block-one.json";
import BLOCK_TWO from "@data/block-two.json";

interface FlagSpec {
  country: string;
  iso3166: string;
  src: string;
}
---

<Base
  title="Georgia Tech Flag Building (Smithgall Building)"
  description="Unofficial catalogue of the flags in the Flag Building at Georgia Tech."
>
  <header>
    <marquee width="500">⚠️ Work In Progress! ⚠️</marquee>
  </header>

  <div class:list={["blocks"]}>
    <ol id="block-one">
      {
        (BLOCK_ONE as FlagSpec[]).map(({ src, country, iso3166 }) => (
          <li id={iso3166}>
            <Flag
              {src}
              {country}
              link={`https://en.wikipedia.org/wiki/${country}`}
              vertical
            />
          </li>
        ))
      }
    </ol>

    <ol id="block-two">
      {
        (BLOCK_TWO as FlagSpec[]).map(({ src, country, iso3166 }) => (
          <li id={iso3166}>
            <Flag
              {src}
              {country}
              link={`https://en.wikipedia.org/wiki/${country}`}
            />
          </li>
        ))
      }
    </ol>
  </div>

  <footer>
    <a href="https://github.com/shreyasminocha/flagbuild.ing">Flag data</a> last
    updated (manually) in September 2024.
  </footer>
</Base>

<style>
  .blocks {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    gap: 5rem;
  }

  @media screen and (min-width: 1280px) {
    .blocks {
      flex-direction: row;
    }
  }

  ol {
    padding-left: 0;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 0;
  }

  #block-one {
    grid-template-columns: repeat(6, 5rem);
  }

  #block-two {
    grid-template-columns: repeat(7, 6rem);
    grid-template-rows: repeat(auto-fit, 4rem);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  li {
    list-style: none;
    height: 5rem;
  }

  #us {
    grid-column: span 6;
    margin: 0 auto;
  }

  #ne {
    transform-origin: left top;
    transform: scale(0.8);
  }

  #np {
    transform-origin: left top;
    transform: scaleY(-1) scale(0.65) rotate(-90deg);
  }
</style>
